nav {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background: linear-gradient(#87CEEB, #1E90FF);
  border-bottom: 2px solid #007bff;
  border-radius: 0px 0px 10px 10px;
}

.navbar-toggler {
  border-color: #fff;
}

.navbar-nav .nav-link {
  color: #fff;
  padding: 10px 15px;
  transition: 0.3s;
}

.navbar-nav .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.navbar-nav .active {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.dropdown-menu {
  border: 1px solid #007bff;
  border-radius: 5px;
}

.dropdown-item {
  color: #007bff;
}

.dropdown-item:hover {
  background-color: rgba(0, 123, 255, 0.1);
}