.title {
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -5px;
  }
  
  .letter-a {
    color: #FFCDB2; 
}

.letter-l {
    color: #FFE5B4; 
}

.letter-i {
    color: #E1E6D1;
}

.letter-m {
    color: #FFAFCC; 
}

.letter-b {
    color: #DAADF0; /
}

.letter-r {
    color: #FFB5E8; 
}

.letter-y {
    color: #B5EAEA; 
}
